.homepage_photo {
    width: 200px;
    height: 150px !important;
}

.pager .active a {
    background-color: #000 !important;
    color: #fff !important;
}

.pager .active a hover{
    background-color: #000 !important;
    color: #fff !important;
}
